<app-header />
<app-main-container [center]="false">
  <app-back-arrow />
  <section class="article-section">
    @if(article(); as article) {
      <h2>{{ article.title }}</h2>
      <div class="article-data">
        <p>{{ article.date | date:'longDate'}}</p>
        <p>{{ article.author.username }}</p>
        <p>{{ article.theme.name }}</p>
      </div>
      <div>
        {{ article.content }}
      </div>
    }
  </section>
  <section class="comments-section">
    <h3>Commentaires</h3>
    @for(comment of comments(); track comment.id) {
      <div class="comment">
        <p>{{ comment.author.username }}</p>
        <app-card>
          <p slot="content">
            {{ comment.content }}
          </p>
        </app-card>
      </div>
    }
    <div>
      <form [formGroup]="commentForm" (ngSubmit)="createComment()" class="comment-form">
        <mat-form-field>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            class="comment-text"
            formControlName="content"></textarea>
        </mat-form-field>
        <button mat-icon-button type="submit">
          <mat-icon aria-hidden="false" aria-label="Send comment" fontIcon="send" class="icon" color="primary"></mat-icon>
        </button>
      </form>
    </div>
  </section>
</app-main-container>
