<app-header />
<app-back-arrow />

<main>
  @if(article(); as article) {
    <h1>{{ article.title }}</h1>
    <div>
      <p>{{ article.date | date:'longDate'}}</p>
      <p>{{ article.author.username }}</p>
      <p>{{ article.theme.name }}</p>
    </div>
    <div>
      {{ article.content }}
    </div>
  }

  <h2>Commentaires</h2>
  @for(comment of comments(); track comment.id) {
    <div>
      <p>{{ comment.author.username }}</p>
      <div>
        {{ comment.content }}
      </div>
    </div>
  }

  <div>
    <form [formGroup]="commentForm" (ngSubmit)="createComment()">
      <mat-form-field>
        <textarea matInput formControlName="content"></textarea>
      </mat-form-field>
      <button matButton>Envoyer</button>
    </form>
  </div>
</main>
