<app-header />
<app-main-container>
  <app-back-arrow />
   <h2>Créer un nouvel article</h2>
    <form [formGroup]="articleForm" (ngSubmit)="createArticle()">
      <mat-form-field>
        <mat-select formControlName="themeId">
            <mat-option [value]="0">Sélectionner un thème</mat-option>
          @for(theme of themes(); track theme.id) {
            <mat-option [value]="theme.id">{{ theme.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Titre de l'article</mat-label>
        <input matInput formControlName="title">
        <mat-error>
          @if(articleForm.controls.title.invalid) {
            @if(articleForm.controls.title.errors?.['required']) {
              Il faut renseigner un titre.
            }
          }
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contenu de l'article</mat-label>
        <textarea
          matInput
          formControlName="content"
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
        >
        </textarea>
        <mat-error>
          @if(articleForm.controls.content.invalid) {
            @if(articleForm.controls.content.errors?.['required']) {
              Il faut renseigner un contenu pour l'article.
            }
          }
        </mat-error>
      </mat-form-field>
      <button
        matButton="filled"
        color="primary"
        [disabled]="articleForm.invalid"
      >Créer</button>
    </form>
</app-main-container>
