<app-header />
<app-main-container [center]="false">
  <section>
    <h2>Profil utilisateur</h2>
    <form [formGroup]="profileForm" (ngSubmit)="updateUser()">
      <mat-form-field>
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Adresse email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <button
        matButton="filled"
        color="primary"
      >Sauvegarder</button>
    </form>
  </section>

  <section class="subscriptions">
    <h2>Abonnements</h2>
    <app-card-list>
    @for(theme of themes(); track theme.id) {
      <app-card [title]="theme.name">
        <p slot="content">
          {{ theme.description }}
        </p>
        <span #actions slot="actions">
          <button matButton="filled"
                  color="primary"
                  (click)="unsubscribeTheme(theme.id)">
            Se désabonner
          </button>
        </span>
      </app-card>
    }
    </app-card-list>
  </section>
</app-main-container>
