header {
  border-bottom: 1px solid #b1b1b1;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav, ul {
  display: flex;
  gap: 10px;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 5px;
  }
}
