<app-header />

<main>
  <a matButton routerLink="/articles/new">Créer un article</a>
  @for(article of articles(); track article.id) {
    <mat-card (click)="readArticle(article.id)">
      <mat-card-title>{{ article.title }}</mat-card-title>
      <mat-card-subtitle>
        {{ article.date | date:'longDate' }} - {{ article.author.username }}
      </mat-card-subtitle>
      <mat-card-content>
        Description: {{article.content.substring(0, 50)}}{{article.content.length > 50 ? '...':''}}
      </mat-card-content>
    </mat-card>
  }
</main>
