<app-header />

<app-main-container [center]="false">
  <div class="articles-actions">
    <a
      matButton="filled"
      color="primary"
      routerLink="/articles/new"
    >Créer un article</a>
  </div>
  <app-card-list>
    @for(article of articles(); track article.id) {
      <app-card [title]="article.title" (click)="readArticle(article.id)">
        <span #subtitle slot="subtitle">
          <p>{{ article.date | date:'longDate' }}</p>
          <p>{{ article.author.username }}</p>
        </span>
        <p slot="content">
          Description: {{article.content.substring(0, 150)}}{{article.content.length > 150 ? '...':''}}
        </p>
      </app-card>
    }
  </app-card-list>
</app-main-container>
