<app-header />

<app-main-container [center]="false">
  <div class="article-actions">
    <a
      matButton="filled"
      color="primary"
      routerLink="/articles/new"
    >Créer un article</a>
    <div class="order-articles">
      <p>Trier par</p>
        <button
          mat-icon-button
          (click)="sortArticles()"
          [title]="sortDescending ? 'Du plus récent au plus ancien':'Du plus ancien au plus récent'"
        >
          @if(sortDescending) {
              <mat-icon>arrow_downward_alt</mat-icon>
          } @else {
              <mat-icon>arrow_upward_alt</mat-icon>
          }
        </button>
    </div>
  </div>
  <app-card-list>
    @for(article of articles(); track article.id) {
      <app-card [title]="article.title" (click)="readArticle(article.id)">
        <div #subtitle slot="subtitle" class="article-metadata">
          <p>{{ article.date | date:'longDate' }}</p>
          <p>{{ article.author.username }}</p>
        </div>
        <p slot="content">
          {{article.content.substring(0, 150)}}{{article.content.length > 150 ? '...':''}}
        </p>
      </app-card>
    }
  </app-card-list>
</app-main-container>
