:host {
  flex: 1 1 400px;
  max-width: 100%;
}

:host(.full-width) {
  max-width: 100%;
}

.card {
  mat-card-header .mat-mdc-card-header-data {
    width: 100%;
    flex-direction: column;
  }
}

.card:hover {
  cursor: pointer;
}

.card-metadata {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  p {
    flex: 1;
  }
}

.card-actions {
  display: flex;
  width: 100%;
  justify-content: center;
}
