<app-header />
<app-main-container>
  <app-back-arrow />
  <app-logo />

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h2>Se connecter</h2>
    <mat-form-field>
      <mat-label>E-mail ou nom d'utilisateur</mat-label>
      <input matInput formControlName="login" />
      <mat-error>
        @if(loginForm.controls.login.invalid) {
          @if(loginForm.controls.login.errors?.['required']) {
            Il faut renseigner un identifiant.
          }
        }
      </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error>
          @if(loginForm.controls.password.invalid) {
            @if(loginForm.controls.password.errors?.['minlength']) {
              Le mot de passe doit contenir au moins 8 caractères.
            }
          }
        </mat-error>
    </mat-form-field>

    <button
      matButton="filled"
      color="primary"
      [disabled]="loginForm.invalid"
    >Se connecter</button>
  </form>
</app-main-container>
