main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 900px;
  box-sizing: border-box;

}

.field-group {
  display: flex;
  flex-direction: column;
}
