/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-root > *:not(router-outlet) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

form:not(.no-max-width) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 700px;


  mat-form-field {
    width: 100%;
    margin-bottom: 5px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

h1, h2, h3 {
  margin-bottom: 0;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden-sm {
  display: block;
  @media(max-width: 762px) {
    display: none;
  }
}

.hidden-lg {
  display: none;
  @media(max-width: 762px) {
    display: block;
  }
}

:root {
  @include mat.form-field-overrides((
    filled-container-color: white,
  ));

  @include mat.card-overrides((
      filled-container-color: #eaeaea,
  ));
}
