/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-root > *:not(router-outlet) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.form-field-overrides((
    filled-container-color: white,

  ));
}
