:host {
  display: flex;
  flex: 1;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px 10px;
  box-sizing: border-box;
  position: relative;
}

.center {
  justify-content: center;
}
